.App {
  font-family: "Roboto", sans-serif;
}

.logo-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 7%;
}
.logo {
  padding: 2%;
  width: 15%;
}

.App .search-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 16px;
  width: 80%;
  margin: 1% 10%;
}

.App .search-container input {
  width: 90%;
  border-radius: 16px 0px 0px 16px;
  border: none;
  font-size: 1.2em;
  padding: 2% 1% 2% 4%;
}

.App .search-container input:focus {
  outline: none;
}

.App .search-container button {
  width: 10%;
  padding-right: 4%;
  border: none;
  background-color: #fff;
  border-radius: 0px 16px 16px 0px;
}

.App .search-container button img {
  width: 70%;
}

.search-box-card {
  background-color: #fff;
  padding: 4%;
}

.search-box-card div h3 {
  font-size: 1.4em;
  padding: 2% 0%;
}

.search-box-card div .trends-card-view {
  display: flex;

  justify-content: space-between;
  width: 100%;
  /* padding:2%; */
}

.suggestions {
  padding: 0.5%;
  font-size: 1.1rem;
}

.trends-card-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.trends-card-container img {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  height: 15%;
  border-radius: 8px;
}

.trends-card-container div {
  margin-top: 4%;
  font-size: 0.8em;
  text-align: center;
  font-weight: 600;
}


@media (min-width: 768px) {
  .logo {
    padding: 2%;
    width: 10%;
  }
  .search-box-card {
    width: 80%;
    margin: 0% 10%;
  }
  .trends-card-container {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .logo {
    padding: 2%;
    width: 8%;
  }
  .App .search-container {
    margin: 1% 25%;
    width: 50%;
  }

  .App .search-container input {
    padding: 1.5% 0% 1.5% 3%;
    font-size: 1.6em;
    width: 95%;
  }

  .App .search-container button {
    width: 10%;
  }

  .App .search-container button img {
    width: 60%;
  }
  .search-box-card {
    padding: 2%;
    width: 60%;
    margin: 0% 20%;

    -webkit-box-shadow: 4px 4px 13px 1px rgba(230, 230, 230, 1);
    -moz-box-shadow: 4px 4px 13px 1px rgba(230, 230, 230, 1);
    box-shadow: 4px 4px 13px 1px rgba(230, 230, 230, 1);
  }
  .trends-card-container {
    width: 15%;
  }
}
